/* Hide scrollbar for Webkit browsers */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.adoption-col-1 {
  box-shadow: 0px 4px 12px 0px #0000001a;
}

.shadow-msg{
  box-shadow: 0px 2px 16px 0px #0000000D;
}

.filter-bar-shadow{
  box-shadow: 0px 4px 12px 0px #0000001A;

}

.testimonial-shadow{
  box-shadow: 0px 2px 16px 0px #0000000D;

}

/* .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #d1d5db;
  opacity: 1;
} */
.swiper-pagination-bullet-active {
  background-color: black !important;
}