/* Hide scrollbar for Webkit browsers */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.adoption-col-1 {
  box-shadow: 0px 4px 12px 0px #0000001a;
}

.shadow-msg{
  box-shadow: 0px 2px 16px 0px #0000000D;
}

.filter-bar-shadow{
  box-shadow: 0px 4px 12px 0px #0000001A;

}

.testimonial-shadow{
  box-shadow: 0px 2px 16px 0px #0000000D;

}

/* .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #d1d5db;
  opacity: 1;
} */
.swiper-pagination-bullet-active {
  background-color: black !important;
}

.transparent-logo {
  filter: brightness(0) invert(0);
}

.slick-dots {
  bottom: 20px !important; /* Adjust vertical position */
}

.slick-dots li {
  width: 15px; /* Increase dot size */
  height: 15px;
  margin: 0 5px;
}

.slick-dots li button::before {
  font-size: 12px; /* Bigger dot indicator */
  color: #888; /* Default gray */
  opacity: 1;
  transform: scale(1.5); /* Makes dots larger */
}

.slick-dots li.slick-active button::before {
  color: #000; /* Active dot is black */
  opacity: 1;
  transform: scale(1.8); /* Slightly bigger when active */
}

.puppy-card-shadow {
  box-shadow: 0px 0px 0px 1px #00000014;

  box-shadow: 0px 2px 12px 0px #00000008;
}

@media (max-width: 768px) {
  .slick-dots {
    bottom: 10px !important; /* Lower the dots for mobile */
  }

  .slick-dots li {
    width: 10px; /* Increase dot size */
    height: 10px;
    margin: 0 5px;
  }

}